<div class="row-fluid" ng-init="getPosition()">
	<div class="span8">
		<div class="hero-unit">
			<div id="map_canvas" ui-map="myMap" class="map" ui-options="mapOptions">
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="hero-unit" id="userList">
			<h4>
				<i class="icon-user"></i> User List - {{myMarkers.length}}</h4>
			<div ng-repeat="item in myMarkers | orderBy:'id'">
				<button class="btn btn-primary user-button" ng-click="myMap.panTo(item.marker.getPosition())">
					<i class="icon-search icon-white"></i> {{item.id}}</button>
			</div>
		</div>
		<div class="hero-unit">
			<div id="social">
				<h5>
					<i class="icon-thumbs-up"></i> Made by Anthony Scotti</h5>
				<a href="https://128bit.io">128bit.io</a>
				<a href="https://www.twitter.com/amscotti">
					<img src="https://twitter-badges.s3.amazonaws.com/t_mini-a.png" ,alt="Follow amscotti on Twitter" />
				</a>
				<a href="https://www.linkedin.com/in/amscotti">
					<img src="https://www.linkedin.com/img/webpromo/btn_in_20x15.png" , width="20" , height="15" , alt="View Anthony Scotti's LinkedIn profile"
					/>
				</a>
			</div>
		</div>
	</div>
</div>